.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 60px;
}

.aboutInfo h2,
.aboutInfo h3 {
  color: var(--active-color);
}
.processWrap {
}
.processWrap .processItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px dotted #e7e7e7;
  margin-bottom: 30px;
}
.processImg {
  border-radius: 16px;
}

.processWrap .processItem .processInfo {
  width: 60%;
}

@media only screen and (max-width: 819px) {
  .bar {
    width: 95px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .imgWrap {
    margin-bottom: 16px;
    text-align: center;
  }
  .processImg {
    display: inline-block;
  }
  .processWrap .processItem {
    display: block;
  }
  .processWrap .processItem .processInfo {
    width: 90%;
    margin: 0 auto;
  }
  .aboutInfo {
    padding: 0 16px;
  }
}
