.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.5);
  z-index: 20;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--body-text);
}

.imageContainer {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.image {
  max-width: 100%;
  max-height: 80vh;
}
.imageWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageWrap img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 8px -5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.hide {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}
.show {
  opacity: 1;
  height: auto;
  transition: all 0.5s ease;
  overflow: auto;
}
.quoteBtn {
  border-radius: 40px;
  background: linear-gradient(180deg, #e97358 0%, #e93325 100%);
  width: 138px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

@media only screen and (max-width: 750px) {
  .popup {
    width: 90%;
  }
}
