.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.5);
  z-index: 20;
}

.popup {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: var(--body-text);
}

.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}
.ContactUsModalWrap {
  padding: 64px 8%;
}

.hide {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}
.show {
  opacity: 1;
  height: auto;
  transition: all 0.5s ease;
  overflow: auto;
}

.inputForm {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: #fafafa;
  width: 100%;
  line-height: 48px;
  padding: 0 16px;
  font-size: 14px;
}

.formLabel {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}
.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.formItem {
  flex: 1;
}

.formWrap {
}

.textarea {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: #fafafa;
  width: 100%;
  padding: 16px;
  font-size: 14px;
}

.modalBtn {
  width: 150px;
  line-height: 56px;
  padding: 0px 16px;
  border-radius: 8px;
  border: 1px solid var(--active-color);
  color: var(--active-color);
  font-size: 14px;
  font-weight: 700;
}
