.overlayText {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6)
  ) !important;
  opacity: 1 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}

.textWrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 60px;
}

.overlayText h1 {
  font-size: 64px;
  font-weight: 400;
  font-family: "trashhand";
  margin-bottom: 8px;
}
.overlayText p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
}

.overlayText button {
  border-radius: 40px;
  background: linear-gradient(180deg, #e97358 0%, #e93325 100%);
  width: 200px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
