.overlayText {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ) !important;
  opacity: 1 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  text-align: left !important;
  border-radius: 0 !important;
}

.textWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 60px;
  width: 45%;
  height: 75%;
}

.overlayText h1 {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'trashhand';
  margin-bottom: 8px;
}
.overlayText p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 32px;
}

.overlayText button {
  border-radius: 40px;
  background: linear-gradient(180deg, #e97358 0%, #e93325 100%);
  width: 200px;
  height: 64px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .overlayText h1 {
    font-size: 3rem;
    margin-bottom: -4px;
  }
  .overlayText p {
    margin-top: 4px;
    font-size: 1.5rem;
  }
  .overlayText button {
    border-radius: 40px;
    background: linear-gradient(180deg, #e97358 0%, #e93325 100%);
    width: 100px;
    height: 42px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  .textWrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
    width: 90%;
    text-align: center;
  }
}

.mobileView {
  width: 100%;
  height: 300px;
  position: relative;
  color: #fff;
}
.mobileView img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.desktopView {
  width: 100%;
  height: 75vh;
  position: relative;
  color: #fff;
}
.desktopView img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
