.bgwrap {
  background-image: url('../../../public/contact-us-landing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-bottom: 60px;
}
.bgwrap:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  opacity: 0.6;
}
.verticalAlign {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  position: relative;
}

.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}
.ContactUsModalWrap {
  padding: 0;
}

.pageWrap {
  display: flex;
}

.inputForm,
.inputSelect {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: #fafafa;
  width: 100%;
  line-height: 48px;
  padding: 0 16px;
  font-size: 14px;
}
.inputSelect {
  height: 50px;
  box-sizing: border-box;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1.5em + 2px),
    calc(100% - 15px) calc(1.5em + 2px),
    calc(100% - 3em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 2.5em;
  background-repeat: no-repeat;
}
.formLabel {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}
.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.formItem {
  flex: 1;
}

.formItemFirst {
  margin-right: 4%;
}

.formWrap {
  border-right: 1px dotted #e7e7e7;
  margin-right: 32px;
  padding-right: 32px;
  width: 50%;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: #fafafa;
  width: 100%;
  padding: 16px;
  font-size: 14px;
}

.modalBtn {
  width: 150px;
  line-height: 56px;
  padding: 0px 16px;
  border-radius: 8px;
  border: 1px solid var(--active-color);
  color: var(--active-color);
  font-size: 14px;
  font-weight: 700;
}

.inputForm[value='']::-webkit-datetime-edit {
  color: transparent;
}
.inputForm:focus::-webkit-datetime-edit {
  color: #212121;
}
.addressWrap {
  display: flex;
  align-items: center;
}

.rightDataWrap {
  width: 50%;
}

@media only screen and (max-width: 1025px) {
  .formWrap {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 768px) {
  .formRow {
    display: block;
    margin-bottom: 0;
  }
  .formItem {
    margin-bottom: 16px;
  }

  .formItemFirst {
    margin-right: 0;
  }
}
@media only screen and (max-width: 750px) {
  .pageWrap {
    display: block;
  }
  .formWrap {
    width: calc(100% - 24px);
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 16px;
  }
  .rightDataWrap {
    width: 100%;
    margin-bottom: 32px;
    padding: 0 24px;
  }
  .bgwrap {
    height: 300px;
    margin-bottom: 30px;
  }
}
