.bgwrap {
  background-image: url('/images/promotions-giftings/corporate-gifts/Banner-corporate.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 60px;
}
.bgwrap:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  opacity: 0.7;
}
.verticalAlign {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  position: relative;
  padding: 0 24px;
}

.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
  .bgwrap {
    height: 416px;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .verticalAlign {
    padding: 0 16px;
  }
  .bar {
    margin-bottom: 1rem !important;
  }
}
