.bar {
  width: 120px;
  height: 2px;
  background-color: var(
    --active-color
  ); /* --active-color variable needs to be defined */
  border-radius: 8px;
  margin-bottom: 60px;
}

.layerImageWrap {
  min-height: 400px;
}

.overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 32px;
  transition: all 1s ease-in-out;
  background-color: rgba(33, 33, 33, 0.77);
}

.inflatables {
  /* background: url('/inflatables_and_bouncies.png');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
}

.layerWrap .hoverLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.77);
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.75s ease; /* Removed redundant transition-delay property */
}

.layerWrap:hover .hoverLayer {
  height: 100%;
}

.layerWrap .hoverLayer .text {
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Removed vendor-specific prefixes */
  width: 100%;
  text-align: center;
}

.layerWrap:hover .overlay {
  opacity: 0;
  transition-delay: 0s;
}

.layerWrap .overlay {
  opacity: 1;
  transition: opacity 0.1s ease; /* Changed transition duration to 0.1s */
  transition-delay: 0.75s;
}

.overlay h2,
.layerWrap .hoverLayer .text h2 {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  margin-bottom: 14px;
}

.overlay h3,
.layerWrap .hoverLayer .text h3 {
  font-size: 24px;
  color: #fff;
}

.overlay h4,
.layerWrap .hoverLayer .text h4 {
  color: #fff;
}

.viewAll {
  display: inline-block;
  margin-top: 32px;
  color: #fff;
  width: 144px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  font-weight: 600;
  border-radius: 40px;
  transition: all ease-out 0.3s;
  background-color: transparent;
}

.viewAll:hover {
  border: 1px solid var(--active-color);
  background-color: var(--active-color);
}

@media only screen and (max-width: 767px) {
  .layerImageWrap {
    min-height: 350px;
  }
  .overlay h2,
  .layerWrap .hoverLayer .text h2 {
    font-size: 24px;
  }
  .overlay h3,
  .layerWrap .hoverLayer .text h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  /* Corrected the max-width value */
  .bar {
    width: 95px;
    margin-bottom: 30px;
  }
  .no_mobile {
    display: none;
  }
}
