.activeLink {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
  transition: all 100ms ease-out;
}
.link:hover {
  color: var(--active-color);
  transition: all 100ms ease-out;
}

.activeLinkMob {
  color: var(--active-color);
}

.link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cta {
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  color: var(--active-color);
  border: 1px solid var(--active-color);
  border-radius: 40px;
  padding: 0 16px;
  display: inline-block;
  white-space: nowrap;
}

.logoWidth {
  width: 163px;
}

.desktopMenu {
  display: block;
}

.cta:hover {
  transition: all 200ms ease-in;
  color: #fff;
  background-color: var(--active-color);
}

.menuSlide {
  transform: translateX(-286px);
  transition: all 0.5s ease-out;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  top: 53px;
  padding-left: 1rem;
}

.hamburger {
  display: none;
}

.hamburger:hover .menuSlide {
  transform: translateX(-20px);
}

.overlay h3,
.layerWrap .hoverLayer .text h3 {
  font-size: 24px;
  color: #fff;
}

.subnav {
  position: absolute;
  background: #f7f7f7;
  width: 100%;
  left: 0;
  top: 87px;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-top: 1px solid #e7e7e7;
}
.mainMenu {
  line-height: 88px;
  cursor: pointer;
}
.mainMenu:hover .subnav {
  opacity: 1;
  height: auto;
}

.menuItem {
  /* width: calc(20% - 48px); */
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.menuItem:hover {
  background-color: #fff;
}

.menuInfo {
  margin-left: 12px;
  flex: 1;
}

.menuInfo h2 {
  line-height: initial;
  color: #000;
  font-family: 'roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 4px;
}
.menuInfo p {
  line-height: initial;
  color: #000;
  font-family: 'roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
}

.productImage {
  line-height: 1.2;
  color: #e93325;
  font-family: 'roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
  align-items: end;
}

@media only screen and (max-width: 1024px) {
  .link {
    font-size: 16px;
    padding: 0 16px 0.75em;
  }
  .resContainer {
    width: 98%;
    max-width: 98%;
    height: 56px;
  }
}

@media only screen and (max-width: 1024px) {
  .desktopMenu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .header {
    border-bottom: 1px solid #c7c7c7;
  }
  .cta {
    width: 130px;
    line-height: 35px;
    font-size: 14px;
    white-space: nowrap;
  }
  .logoWidth {
    width: 130px;
  }
}
