.footer {
  /* background-color: #f0f3f8; */
}
.addressWrap {
  display: flex;
  align-items: center;
}
.copyright {
  background-color: var(--body-text);
}
.moto {
  font-family: 'trashhand';
  margin: 16px;
}
.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
