.activeLink,
.link:hover {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
  transition: all 100ms ease-out;
}

.activeLinkMob {
  color: var(--active-color);
}

.link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cta {
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  color: var(--active-color);
  border: 1px solid var(--active-color);
  border-radius: 40px;
  padding: 0 16px;
  display: inline-block;
  white-space: nowrap;
}

.logoWidth {
  width: 163px;
}

.desktopMenu {
  display: block;
}

.cta:hover {
  transition: all 200ms ease-in;
  color: #fff;
  background-color: var(--active-color);
}

.menuSlide {
  transform: translateX(-280px);
  transition: all 0.5s ease-out;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  top: 53px;
}

.hamburger {
  display: none;
}

.hamburger:hover .menuSlide {
  transform: translateX(-20px);
}

.overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 32px;
  transition: all 800ms ease-in-out;
}

.layerWrap .hoverLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.77);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all 0.3s ease;
}

.layerWrap:hover .hoverLayer {
  height: 100%;
}

.layerWrap .hoverLayer .text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.layerWrap:hover .overlay {
  opacity: 0;
  transition-delay: 0s;
}

.layerWrap .overlay {
  opacity: 1;
  transition: opacity 0.1ms ease;
  transition-delay: 0.3s;
}

.overlay h2,
.layerWrap .hoverLayer .text h2 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 14px;
  line-height: 1.5;
}
.layerWrap {
  cursor: pointer;
}

.layerWrap .hoverLayer .text h2 {
  border-top: 3px solid var(--active-color);
  border-bottom: 3px solid var(--active-color);
  display: inline-block;
  padding: 0 12px;
}

.overlay h3,
.layerWrap .hoverLayer .text h3 {
  font-size: 24px;
  color: #fff;
}

.subnav {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  top: 87px;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  border-top: 1px solid #e7e7e7;
}
.mainMenu {
  line-height: 88px;
}
.mainMenu:hover .subnav {
  opacity: 1;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .layerImageWrap {
    min-height: 350px;
  }
  .overlay h2,
  .layerWrap .hoverLayer .text h2 {
    font-size: 24px;
  }
  .overlay h3,
  .layerWrap .hoverLayer .text h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .link {
    font-size: 16px;
    padding: 0 16px 0.75em;
  }
  .resContainer {
    width: 98%;
    max-width: 98%;
  }
}

@media only screen and (max-width: 819px) {
  .desktopMenu {
    display: none;
  }
  .nav {
  }
  .hamburger {
    display: block;
  }
  .header {
    border-bottom: 1px solid #c7c7c7;
  }
  .cta {
    width: 130px;
    line-height: 35px;
    font-size: 14px;
    white-space: nowrap;
  }
  .logoWidth {
    width: 130px;
  }
}
