.activeLink,
.link:hover {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
  transition: all 100ms ease-out;
}

.link {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cta {
  font-size: 16px;
  font-weight: 600;
  line-height: 53px;
  color: var(--active-color);
  border: 1px solid var(--active-color);
  border-radius: 40px;
  width: 180px;
}

.cta:hover {
  transition: all 200ms ease-in;
  color: #fff;
  background-color: var(--active-color);
}
