.activeLink,
.link:hover {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
  transition: all 100ms ease-out;
}

.activeLinkMob {
  color: var(--active-color);
}

.link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cta {
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  color: var(--active-color);
  border: 1px solid var(--active-color);
  border-radius: 40px;
  padding: 0 16px;
  display: inline-block;
  white-space: nowrap;
}

.logoWidth {
  width: 163px;
}

.desktopMenu {
  display: block;
}

.cta:hover {
  transition: all 200ms ease-in;
  color: #fff;
  background-color: var(--active-color);
}

.menuSlide {
  transform: translateX(-280px);
  transition: all 0.5s ease-out;
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  top: 53px;
}

.hamburger {
  display: none;
}

.hamburger:hover .menuSlide {
  transform: translateX(-20px);
}

@media only screen and (max-width: 1024px) {
  .link {
    font-size: 16px;
    padding: 0 16px 0.75em;
  }
  .resContainer {
    width: 98%;
    max-width: 98%;
  }
}

@media only screen and (max-width: 819px) {
  .desktopMenu {
    display: none;
  }
  .nav {
  }
  .hamburger {
    display: block;
  }
  .header {
    border-bottom: 1px solid #c7c7c7;
  }
  .cta {
    width: 130px;
    line-height: 35px;
    font-size: 14px;
    white-space: nowrap;
  }
  .logoWidth {
    width: 130px;
  }
}
