.bgwrap {
  background-image: url('../../../public/inflatable.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  /* margin-bottom: 60px; */
  padding: 0 32px;
}
.bgwrap:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  opacity: 0.6;
}
.verticalAlign {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  position: relative;
}

.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}

.slide img {
  margin-right: 30px;
}

.tabList {
  display: flex;
  overflow-x: auto;
  width: 100%;
}
.tabList li {
  padding: 16px;
  border-bottom: 2px solid transparent;
  border-top-right-radius: 8px;
  cursor: pointer;
  font-family: 'roboto';
  color: #8c8c8c;
}

.tabList li.activeTab {
  border-bottom: 2px solid #2c74d6;
  font-weight: bold;
  color: #000;
}

.imgList {
  border-top: 2px solid #f4f4f4;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridImgPortfolio {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  max-height: 300px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  object-fit: cover;
}

.imgSlide {
  padding: 40px;
}

@media only screen and (max-width: 768px) {
  .bgwrap {
    height: 250px;
    /* margin-bottom: 30px; */
  }
}

@media only screen and (max-width: 600px) {
  .tabList {
    margin: 0 12px;
    width: calc(100% - 24px);
  }
}
