@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-text: #212121;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --active-color: #e93325;
}

* {
  letter-spacing: 0.5px;
}

@font-face {
  font-family: 'noto_sans';
  src: url('/fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('/fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trashhand';
  src: url('/fonts/trashhand-webfont.woff2') format('woff2'),
    url('/fonts/trashhand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'noto_sans';
  color: var(--body-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-image: url('/bg-cropped.png');
}

html {
  font-size: 16px;
}

.page-offset {
  margin-top: 87px;
}

@media only screen and (max-width: 768px) {
  .page-offset {
    margin-top: 56px;
  }

  html {
    font-size: 14px;
  }
}

.slider {
  align-items: center;
}

.carousel .control-dots .dot {
  width: 40px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background: #c7c7c7 !important;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  background-color: #2c74d6 !important;
}

.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 60px;
}
