.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 64px;
}
.benefitsWrap {
  margin: 64px 0;
}
@media only screen and (max-width: 819px) {
  .bar {
    width: 55px;
    margin-bottom: 30px;
  }
}
