.bgwrap {
  background-image: url('/products_banner.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 60px;
}
.bgwrap:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  opacity: 0.6;
}
.verticalAlign {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  position: relative;
  width: 90%;
}

.bar {
  width: 120px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}

.overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 32px;
  transition: all 800ms ease-in-out;
  background-color: rgba(33, 33, 33, 0.77);
}

.layerWrap .hoverLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.77);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all 0.3s ease;
}

.layerWrap:hover .hoverLayer {
  height: 100%;
}

.layerWrap .hoverLayer .text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.layerWrap:hover .overlay {
  opacity: 0;
  transition-delay: 0s;
}

.layerWrap .overlay {
  opacity: 1;
  transition: opacity 0.1ms ease;
  transition-delay: 0.3s;
}

.overlay h2,
.layerWrap .hoverLayer .text h2 {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  margin-bottom: 14px;
  line-height: 1.5;
}
.layerWrap {
  cursor: pointer;
  height: 100%;
}

.layerWrap .hoverLayer .text h2 {
  border-top: 3px solid var(--active-color);
  border-bottom: 3px solid var(--active-color);
  display: inline-block;
  padding: 0 12px;
}

.overlay h3,
.layerWrap .hoverLayer .text h3 {
  font-size: 24px;
  color: #fff;
}

.productItem {
}

.gridImg {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  object-fit: cover !important;
}
.products {
  margin-bottom: 60px;
}
.layerImageWrap {
  height: 100%;
}

@media only screen and (max-width: 639px) {
  .subnav ul {
    padding: 30px;
  }
  .bgwrap {
    height: 300px;
    margin-bottom: 30px;
  }
}
