.bar {
  width: 180px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 30px;
}

.gridImgPortfolio {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  max-height: 300px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  object-fit: cover;
}

.prodCard {
  padding: 32px;
  border-radius: 16px;
  background-color: #eee;
}

@media only screen and (max-width: 819px) {
  .bar {
    width: 95px;
    margin-bottom: 1rem;
  }
}

.imgList {
  grid-auto-flow: dense;
}
