.testimonialsWrap {
  padding: 60px 0;
  /* background-image: url("../../../../public/bg2.jpeg"); */
  background-color: #e8f2f7;
}

.bar {
  width: 360px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 60px;
}

.imgSlide {
  padding: 16px;
}
.mobileCarosel {
  display: none;
}
.desktopCarosel {
  display: flex;
}
.desktopCarosel img {
  height: 100px;
}

@media only screen and (max-width: 750px) {
  .mobileCarosel {
    display: block;
  }
  .desktopCarosel {
    display: none;
  }
}
