.testimonialsWrap {
  padding: 60px 0;
  /* background-image: url("../../../../public/bg2.jpeg"); */
  background-color: #e8f2f7;
}

.bar {
  width: 360px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}

.imgSlide {
  padding: 16px;
}
.mobileCarousel {
  display: none;
}
.desktopCarousel {
  display: flex;
}
.desktopCarousel img {
  height: 100px;
}

@media only screen and (max-width: 750px) {
  .mobileCarousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .desktopCarousel {
    display: none;
  }
}
