.testimonialsWrap {
  padding: 60px 0;
  background-color: #e8f2f7;
}

.bar {
  width: 360px;
  height: 2px;
  background-color: var(--active-color);
  border-radius: 8px;
  margin-bottom: 32px;
}

.imgSlide {
  padding: 16px;
  max-height: 100px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousal {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

@media only screen and (max-width: 750px) {
  .carousal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .twoCol {
    grid-template-columns: 1fr 1fr;
  }
}
